<div class="container pt-2 pt-md-5 mb-5">
    <section>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 dashboard-card dashboard-card--green">
                <div class="dashboard-card--inner" onclick="redirect('/transaction/new')">
                    <p class="dashboard-card--inner--icon">
                        <i class="fas fa-cash-register"></i>
                    </p>
                    <p class="dashboard-card--inner--title">Pokladna</p>
                </div>
            </div>

            <div class="col-12 col-md-6  col-lg-3 dashboard-card dashboard-card--blue" onclick="redirect('/product')">
                <div class="dashboard-card--inner">
                    <p class="dashboard-card--inner--icon">
                        <i class="fas fa-cube"></i>
                    </p>
                    <p class="dashboard-card--inner--title">Produkty</p>
                </div>
            </div>

            <div class="col-12 col-md-6  col-lg-3 dashboard-card dashboard-card--grey" onclick="redirect('/stock')">
                <div class="dashboard-card--inner">
                    <p class="dashboard-card--inner--icon">
                        <i class="fas fa-cubes"></i>
                    </p>
                    <p class="dashboard-card--inner--title">Sklad</p>
                </div>
            </div>

            <div class="col-12 col-md-6  col-lg-3 dashboard-card dashboard-card--yellow" onclick="redirect('/settings')">
                <div class="dashboard-card--inner">
                    <p class="dashboard-card--inner--icon">
                        <i class="fas fa-cog"></i>
                    </p>
                    <p class="dashboard-card--inner--title">Nastaveni</p>
                </div>
            </div>
        </div>
    </section>
</div>
